.song-list::-webkit-scrollbar {
  color: darkgray;
  height: 1px;
}

.song-list::-webkit-scrollbar-thumb {
  background-color: #484848;
}

.song-card {
  transition: all 500ms ease-in;
}

.play-song-card {
  visibility: hidden;
  transition: all 200ms ease-in;
  opacity: 0;
}

.song-card:hover .play-song-card {
  visibility: visible;
  opacity: 1;
  transform: translateY(-0.5rem);
}

.artist-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
